{{extend 'layout.html'}}

<h2>Inserir Arquivo</h2>


{{=arquivoform.custom.begin}}
<div>
	<label>{{=arquivoform.custom.label.nome}}</label>
	{{=arquivoform.custom.widget.nome}}
</div>
<div>
	<label>{{=arquivoform.custom.label.descricao}}</label>
	{{=arquivoform.custom.widget.descricao}}
</div>
<div>
	<label>{{=arquivoform.custom.label.categoria}}</label>
	{{=arquivoform.custom.widget.categoria}}
</div>
<div>
	<label>{{=arquivoform.custom.label.arquivo}}</label>
	{{=arquivoform.custom.widget.arquivo}}
</div>

{{=arquivoform.custom.submit}}

{{=arquivoform.custom.end}}

